html {
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: #e7e6e1 !important;
    font-family: "Montserrat", sans-serif;
}
.main {
    padding: 10px;
    user-select: none;
}
.calc {
    padding: 5px;
}
.calc-input {
    background-color: #cccccc;
    width: 100%;
    height: 12rem;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #b8b5ff;
    -webkit-transition: 0.4s;
    transition: 0.4s ;
    outline: none;
    font-size: 3rem;
    color: #23689b;
}
.calc-input:focus {
    border: 1px solid #23689b;
}
.row {
    margin: 0;
    padding: 0;

}
.operator {
    background-color: #cccccc;
    margin: 5px;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    border-radius: 2px;
    border: 1px solid #b8b5ff;
    color: #222831;
}
.operator:active {
    border: 1px solid #23689b;
}
.x2 {
    background-color: #a6a6a4;
    color: #686d76;
}
.equal-operator {
    background-color: #23689b;
    color: white;
    border-radius: 2px !important;
}
.clear {
    font-weight: bold;
}
.model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.btn {
    margin-bottom: 5px;
}
.follow {
    margin: 20px 0;
}
.hidden {
    display: none;
}
.close-model {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
.model-title {
    margin-bottom: 15px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}